{
    "debug": false,
    "run": {
        "echo": true
    },
    "user": "ubuntu",
    "port": "22",
    "connect_kwargs": {
        "key_filename": "/path/to/pem-folder/myCMS.pem"
    },


    "web_setup": {
        "project_name": "myCMS",
        "type": "cms",
        "nginx": {
            "log_name": {
                "error": "error.myCMS.log",
                "access": "access.myCMS.log"
            },
            "template_path": "/nginx/",
            "template": "template-cms"
        }
    }


}
